<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<table class="">
        <div class="">
            <div class="">
                <!-- <table class=""> -->
                    <img src="one.png" class="map-img">
                    <p class="">
                        <img src="https://i.ibb.co/G9pDnYJ/chip.png">
                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png">
                    </p>
                    <p class=" ">
                        <p>5244</p>
                        <p>2150</p>
                        <p>8252</p>
                        <p>6420</p>
                    </p>
                    <p class=" ">
                        <p>CARD HPLDER</p>
                        <p>VALID TILL</p>
                    </p>
                    <p class=" ">
                        <p>JOE ALISON</p>
                        <p>10 / 25</p>
                    </p>
                <!-- </table> -->
                <!-- <table class=""> -->
                    <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                    <p class="bar"></div>
                    <p class=" card-cvv">
                        <div>
                            <img src="https://i.ibb.co/S6JG8px/pattern.png">
                        </div>
                        <p>824</p>
                    </p>
                    <p class=" ">
                        <p>this is a virtual card design using HTML and CSS. You can aslo design something like this.</p>
                    </p>
                    <p class=" ">
                        <p>CUSTOMER SIGNATURE</p>
                        <img src="https://i.ibb.co/WHZ3nRJ/visa.png" >
                    </p>
                <!-- </table> -->
            </div>
        </div>
    </table>
</body>
</html>